bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
InvestmentSimulator.sln.DotSettings.user

.idea/.idea.InvestmentSimulator/.idea/dataSources.xml

.idea/.idea.InvestmentSimulator/.idea/sqldialects.xml

.idea/.idea.InvestmentSimulator/.idea/

.idea/.idea.InvestmentSimulator/Docker/docker-compose.generated.override.yml
